
.login-box {
    /* width: 100%; */
    margin-top: 50px;
    margin-left: 45%;
    align-items: center;
    box-shadow: 10px 10px 5px lightblue;
    width: 350px;
    height: 310px;
   
} 

p{
    margin-left: 60px;
    
}


.login-box input[type="button"]
 {
     WIDTH: 30%;
     border: none;
     outline: none;
     height: 40px;
     background: #099ed5	;
     color: #fff;
     font-size: 18px;
     border-radius: 20px;
    margin-left: 90px;
    margin-top: 50px;
}


.login-box input[type="button"]:hover{
    background-color: rgb(250, 12, 12);
}

.login-box input[type="password"]{
    margin-top: 30px;
    margin-left: 60px;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.554);
    height: 20px;
}

